<%= form_for(cupcake) do |f| %>
  <% if cupcake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cupcake.errors.count, "error") %> prohibited this cupcake from being saved:</h2>

      <ul>
      <% cupcake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flavor %>
    <%= f.text_field :flavor %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
