<p id="notice"><%= notice %></p>

<h1 class="jumbotron">Cupcakes</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cupcakes.each do |cupcake| %>
      <tr>
        <td><%= cupcake.flavor %></td>
        <td><%= cupcake.quantity %></td>
        <td><%= cupcake.price %></td>
        <td><%= link_to 'Show', cupcake %></td>
        <td><%= link_to 'Edit', edit_cupcake_path(cupcake) %></td>
        <td><%= link_to 'Destroy', cupcake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cupcake', new_cupcake_path %>
